
<div class="container">
<h2 class="text-center">找工作</h2>

<div class="sever row">
<div class="col-md-3 col-center col-md-offset-2" style="">
<img src="" width="210px"  height="120px"  alt="" />
 <button type="button" class="btn " style="background:#000000; color:#ffffff;margin:15px;">申请工作</button>
</div>
<div class="col-md-3 col-center col-md-push-2">
<img src="" width="210px"  height="120px"  alt="" />
<button type="button" class="btn" style="background:#000000; color:#ffffff;margin:15px;">申请工作</button>
</div>
<div class="col-md-3 col-center col-md-offset-2">
<img src="" width="210px"  height="120px"  alt="" />
<button type="button" class="btn" style="background:#000000; color:#ffffff;margin:15px;">申请工作</button>
</div>
<div class="col-md-3 col-center col-md-push-2">
<img src="" width="210px"  height="120px"  alt="" />
<button type="button" class="btn" style="background:#000000; color:#ffffff;margin:15px;">申请工作</button>
</div>
<div class="col-md-3 col-center col-md-offset-2">
<img src="" width="210px"  height="120px"  alt="" />
<button type="button" class="btn" style="background:#000000; color:#ffffff;margin:15px;">申请工作</button>
</div>
</div>
<button type="button"  c class='center-block btn btn-default'>更多工作</button>



<div class="container sever">
<h2 class="text-center">内推企业</h2>

<div class="swiper-container sever" id="company-list">
    <div class="swiper-wrapper">
        <div class="swiper-slide company-logo">Slide 1</div>
        <div class="swiper-slide company-logo">Slide 2</div>
        <div class="swiper-slide company-logo">Slide 3</div>
        <div class="swiper-slide company-logo">Slide 4</div>
        <div class="swiper-slide company-logo">Slide 5</div>
        <div class="swiper-slide company-logo">Slide 6</div>
        <div class="swiper-slide company-logo">Slide 7</div>
        <div class="swiper-slide company-logo">Slide 8</div>
    </div>
</div>

</div>

</div>
