<div class="container">
	<h3 class="text-center">课程题目</h3>
	<hr />

	<div class="row">
	   <div class="col-md-6" style="padding-right:0;">
	   <img src="" height="200px;" width="100%" />
	   </div>
	   <div class="col-md-6 text-center col-center" style="height:200px;border:1px solid #b5b5b5;">
	
		    <p>价格：xxx员</p>
		    <p>课程简介：一句话说完</p>
		    <p>课程形式：微信授课 直播授课 线下授课</p>
	    <button type="button"  class="btn btn-default">马上报名</button>
	   </div>
	</div>
	
<hr />
   <ul class="nav nav-tabs row-center" role="tablist" id="detail">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">课程介绍</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">课程目录</a></li>
  </ul>
<hr />
</div>

    <div class="tab-content  container ">
    <div role="tabpanel row" class="tab-pane active" id="home">
         <div class="col-md-6" style="padding-right:0;">
         
         </div>
         <div class="col-md-6">
         <p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
         内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
         内容内容内容内容
         内容内容内容内容内容内容内容内容内容内容内容内容
         内容内容内容内容
         内容内容内容内容
         内容内容内容内容
         内容内容内容内容
         内容内容内容内容
         内容内容内容内容</p>
         </div>  
     
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">3</div>
    </div>




