<div class="container sever">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" id="course">
    <li ><a href="#" style="color:#000000;">课程分类</a></li>
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>
  
</div>

    <h3 class="text-center">新上好课</h3>
   
  <!-- Tab panes -->
  <div class="tab-content container sever">
    <div role="tabpanel row" class="tab-pane active" id="home">
	    <div class="col-md-3   course-item">
	       <img src="" alt="" style="width:216px;height:120px;"/>
	       <h4 class="course-name">Name</h4>
	       <h5>简介 简介 简介</h5>
	       <p>299</p>
	    </div>
      <div class="col-md-3 course-item">
	       <img src="" alt="" style="width:216px;height:120px;"/>
	       <h4 class="course-name">Name</h4>
	       <h5>简介 简介 简介</h5>
	       <p>299</p>
	    </div>
     <div class="col-md-3   course-item">
	       <img src="" alt="" style="width:216px;height:120px;"/>
	       <h4 class="course-name">Name</h4>
	       <h5>简介 简介 简介</h5>
	       <p>299</p>
	    </div>
     <div class="col-md-3   course-item">
	       <img src="" alt="" style="width:216px;height:120px;"/>
	       <h4 class="course-name">Name</h4>
	       <h5>简介 简介 简介</h5>
	       <p>299</p>
	    </div>
     <div class="col-md-3   course-item">
	       <img src="" alt="" style="width:216px;height:120px;"/>
	       <h4 class="course-name">Name</h4>
	       <h5>简介 简介 简介</h5>
	       <p>299</p>
	    </div>
	    
	    <div class="col-md-12">
	      <button type="button"  class="center-block btn btn-default">更多课程</button>
	    </div>
	   
	    
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">2</div>
    <div role="tabpanel" class="tab-pane" id="messages">3</div>
    <div role="tabpanel" class="tab-pane" id="settings">4</div>
  </div>
  
 
  
  
