
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>文章管理</title>
<link rel="stylesheet" type="text/css" href="/admin/layui/css/layui.css" />
</head>
<style type="text/css">
.flex-row {
	display: flex;
	align-items: center;
}
</style>

<body  style="scroll-x:scroll;">
	<blockquote class="layui-elem-quote flex-row">
		<input style="width: 200px; margin-right: 15px;" type="text"
			name="title" placeholder="请输入文章名" autocomplete="off"
			class="layui-input">
		<button class="layui-btn">
			<i class="layui-icon">&#xe615;</i>查询
		</button>
		<button class="layui-btn layui-btn-normal add" data-url="{:url('editArticle')}">
			<i class="layui-icon">&#xe654;</i>新增文章
		</button>
		<button class="layui-btn layui-btn-danger">
			<i class="layui-icon">&#xe640;</i>批量删除
		</button>
	</blockquote>
		
	<table class="layui-table"  id="table"  style="width:auto;" >
	</table>



	<div style="position: absolute; left: 50%; top:50%;margin-top:-30px; margin-left:-63px; text-align: center;">
			<i class="layui-icon" style="font-size: 36px;color: #009688;">&#xe69c;</i>
			<p>这里一篇文章都没有</p>			
		</div>
	
    <script src="/admin/layui/layui.js"></script>
	<script type="text/javascript">
		layui.use([ 'table', 'layer','jquery' ], function() {
			var $=layui.jquery;
			var table = layui.table;
			var layer=layui.layer;				
			var init= layer.load(2, {shade: false});
			 table.render({
			        elem:"#table",	
			       
			        url: "{:url('article/articleList')}",
			        cols:[[
			         {checkbox: true},
			         {field: 'postid', title: '编号',type:"numbers" },
			         {field: 'title', title: '标题' },
			         {field: 'des', title: '描述' },
			         {field: 'is_valid', title: '状态',toolbar: '#status' },
			         {field: 'created_at', title: '创建时间' },
			         {field: 'score', title: '操作', width:250, toolbar: '#bar'}
			        ]],
				   page:true,
				   done: function(res, curr, count){ //res:返回的数据  curr:当前页码  count：数据总量
			        layer.close(init)
			    }
				});
			
				$(".add").on("click",function(){			
					var data = {
							title:"编辑内容",
							href : $(this).attr("data-url")
						}
					window.parent.navtab.tabAdd(data)
					
				})
			 
		});
	
		
		
	</script>
<script type="text/html" id="bar">
  <button class="layui-btn layui-btn-xs" lay-event="detail">查看</button>
  <button class="layui-btn layui-btn-xs" lay-event="edit">编辑</button>
  <button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</button>
  
  <!-- 这里同样支持 laytpl 语法，如： -->

</script>
<script type="text/html" id="status">
<input type="checkbox" name="yyy" lay-skin="switch" lay-text="发布|不发布" checked>
  <!-- 这里同样支持 laytpl 语法，如： -->

</script>
</body>

</html>